@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #E5E5E5;
    color: #000000;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

legend {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.main-container {
    flex-grow: 1;
}

/* page-index */
.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.button {
    font-family: "PT Sans", Arial, sans-serif;
    color: #FFFFFF;
    background-color: #756157;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    width: 160px;
    height: 37px;
    border: #756157;
}

.page-header {
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
    height: 100%;
    padding: 0 70px;
}

.logo-sedona {
    display: block;
}

.navigation-list {
    display: flex;
    padding: 0;
    margin: 0;
    min-width: 390px;
    height: 100%;
    align-items: center;
}

.navigation-item:nth-child(n+1) {
    margin-left: 34px;
}

.navigation-item:first-child {
    margin-left: 47px;
}

.navigation-user .navigation-item {
    margin: 0;
}

.navigation-user .navigation-item:nth-child(-n+2) {
    padding: 24px 12px;
}

.navigation-link {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #dbdbdb;
}



.navigation-user {
    max-width: 264px;
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
}

.navigation-item {
    list-style-type: none;
    margin: 0;
}

.welcome-bg {
    position: relative;
    background-image: url("../images/background-case/index.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 51px 371px 82px 371px;
}

.advantages-case-item {
    padding: 102px 85px;
    max-width: 230px;
}

.main-index {
    color: #000000;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.advantages-header {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    min-width: 620px;
    padding: 63px 290px 31px 290px;
}

.advantages-main {
    color: #333333;
    background-color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    min-width: 654px;
    margin: 0 0 90px;
}

.advantages-list {
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 1200px;
    margin: 0;
    padding: 0;
}

.advantages-sublist {
    display: flex;
    padding: 0;
}

.background-advantage {
    min-width: 1200px;
    display: flex;
}

.advantages-subitem {
    flex-direction: column;
    display: flex;
    gap: 30px;
    padding: 80px 85px;
    width: 230px;
}

.advantages-icon {
    align-self: center;
    order: -1;
}

.advantages-item {
    flex-grow: 1;
    background-color: #FFFFFF;
    color: #FFFFFF;
}

.first-advantages-item {
    display: flex;
}

.subfirst-advantages-item {
    padding: 92px 65px;
}

.advantages-image {
    order: -1;
}

.advantages-item:nth-child(-n+2) {
    background-color: #82B3D3;
}

.advantages-item:nth-child(n+3) {
    background-color: #83B3D31F;
}

.advantages-item:nth-child(4) {
    background-color: #83B3D333;
}

.advantages-sublist {
    background-color: #ffffff;
    color: #000000;
    list-style-type: none;
    text-align: center;
}

.advantages-subitem:nth-child(2) {
    background-color: #FFFFFF;
}

.advantages-sublist .advantages-subitem:not(:nth-child(2)) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}


.main-title {
    color: #ffffff;
    margin: 0;
}

.advantages-description {
    color: #FFFFFF;
}

.subadvantages-description {
    color: #000000;
    margin: 0;
}

.color-description {
    color: #000000;
}

.search {
    color: #333333;
    background-color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding: 91px 304px 105px 304px;
}

.search-description {
    margin: 29px 0;
    padding: 0;
}

.search-title {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.button-popup {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 36px;
    min-width: 574px;
    height: 60px;
    padding: 0;
    margin: 0;
    margin-top: 27px;
}

.subscribe {
    color: #FFFFFF;
    text-align: center;
    height: 411px;
    background-color: #FFFFFF;
    background-image: url("../images/background-case/subscribe.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    margin: 0;
}

.pagination-link {
    display:inline-flex;
    align-items:center;
    justify-content:center;
}

.subscribe-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.subscribe-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 362px;
    padding: 29px 0 46px;
}

.subscribe-input {
    font: inherit;
    background: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    width: 600px;
    min-height: 60px;
    border: 0 solid #FFFFFF;
    margin: 0;
    padding: 0;
}

.subscribe-button {
    background-color: #82B3D3;
    border-radius: 0px 10px 10px 0px;
    width: 200px;
    min-height: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.page-footer {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.contacts-number {
    font-style: normal;
    margin: 0 auto;
}

.contacts-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.contacts-link {
    padding: 58px 0 48px;
    margin-left: 27px;
}

.contacts-link:nth-child(1) {
    margin-left: 82px;
}

.link-HtmlAcademy {
    padding: 49px 70px 38px 0;
}

.contacts-number-link {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.contacts-number {
    margin-left: 250px;
}

/* page-catalog */

.catalog-filter-content {
    background-color: #FFFFFF;
    background-size: 100% auto;
    background-image: url("../images/background-case/catalog.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    padding: 35px 70px;
}

.filter-content-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    width: 100%;
    margin: 0;
}

.catalog-filter-content-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.control-input {
    margin: 0;
}

.catalog-filter-content-list .catalog-filter-content-item:not(:nth-child(3)) {
    margin-bottom: 15px;
}

.range-cost .catalog-filter-content-title {
    margin-bottom: 34px;
}

.pagination-link,
.pagination-current {
    position: relative;
}

.breadcrumbs {
    position: relative;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    margin: 10px 0 40px;
}

.breadcrumbs-logo:hover,
.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
    fill:rgba(255, 255, 255, 0.6);
}

.breadcrumbs-logo:active,
.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
    fill:rgba(255, 255, 255, 0.3);
}

.breadcrumbs-icon {
    position: absolute;
    left: 22px;
}

.breadcrumbs-item:not(:first-child) {
    padding-left: 30px;
}

.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.catalog-filter-content-form {
    display: flex;
}

.catalog-filter-content-group {
    margin: 0;
    padding: 0;
    border: #fff;
}


.catalog-filter-content-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.catalog-filter-content-group:nth-child(2) {
    margin-left: 70px;
}

.catalog-filter-content-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.range-cost {
    margin-left: 160px;
    align-self: flex-end;
}

.cost {
    padding: 0;
    margin: 0;
    border: #fff;
}

.filter-content-button {
    margin-left: 90px;
    align-self: flex-end;
}

.filter-content-button-submit {
    background: #82B3D3;
    height: 48px;
}

.filter-content-button-reset {
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
    color: #FFFFFF;
}

.product {
    max-width: 1200px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
}

.script-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.sorting-block {
    position: relative;
    min-width: 1200px;
    display: flex;
    padding: 50px 71px 56px;
    justify-content: space-between;
    box-sizing: border-box;
}

.menu-title-panorama-table {
    margin-left: auto;
    border: #fff;
}

.product-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin: 0;
    padding: 0;
    margin-left: 73px;
}

.product-card {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(2, min-content);
    width: 300px;
    row-gap: 16px;
    column-gap: 20px;
}

.product-image {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.product-title {
    grid-column: 1/-1;
    grid-row: 2/3;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
}

.product-button {
    background-color: #82B3D3;
    border-radius: 4px;
    width: 140px;
    height: 37px;
}

.product-button-selected {
    background-color: #7DB54F;
}

.product-description-link {
    background-color: #756157;
    border-radius: 4px;
    width: 140px;
    height: 37px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: inline-flex;
    place-content: center;
    align-items: center;
}

.product-rating {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    border-radius: 4px;
    width: 140px;
    height: 37px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.pagination {
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin: 96px 270px 25px 73px;
    margin-right: auto;
    padding: 0;
}

.pagination-link {
    width: 60px;
    height: 60px;
    background-color: #82B3D3;
    border: 1px solid #82B3D3;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.pagination-current {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #82B3D3;
    border: 1px solid #82B3D3;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.pagination-current {
    background: #F2F2F2;
    border: 1px solid #f2f2f2;
    color: #000000;
}

.hotels-form {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: 42px;
}

.hotels-form-select {
    margin-left: 60px;
    margin-right: 71px;
    padding: 14px;
    padding-right: 130px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.select-control {
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 14px 20px;
    min-width: 290px;
    box-sizing: border-box;
    margin-left: 191px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.subscribe-catalog {
    background-color: #ffffff;
    background-image: none;
    color: #000000;
}

.subscribe-title-catalog {
    color: #000000;
}

.subscribe-description-catalog {
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

menu .navigation-item:nth-child(2) {
    position: relative;
    margin-right: 21px;
}

.decorate-element-hr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    border: 1px solid #7DB54F;
    background-color: #7DB54F;
    border-radius: 100%;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    width: 20px;
    height: 20px;
    left: 24px;
    top: 15px;
}

/* Динамические эффекты */
.button-popup:hover,
.button-popup:focus,
.button-hover:hover {
    background-color: #615048;
    outline:none;
}

.subscribe-button:hover,
.filter-content-button-submit:hover,
.product-button:hover,
.subscribe-button:focus,
.filter-content-button-submit:focus,
.product-button:focus {
    background-color: #68A2CA;
    outline:none;
}

.filter-content-button-reset:hover .filter-content-button-reset:focus {
    background-color: rgba(0, 0, 0, 0);
}

.product-button-selected:hover,
.product-button-selected:focus {
    background-color: #6C9E42;
    outline:none;
}

.button:active {
    color: rgba(255, 255, 255, 0.3)
}

.product-description-link:hover,
.product-description-link:focus {
    background-color: #615048;
    outline:none;
}

.pagination-link:hover,
.pagination-link:focus {
    background-color: #68A2CA;
    outline:none;
}

.pagination-link:active,
.product-description-link:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #82B3D3;
}

.contacts-number-link:hover,
.contacts-number-link:focus {
    color: #756157;
}

.contacts-number-link:active {
    color: rgba(117, 97, 87, 0.3)
}

.link-HtmlAcademy {
    fill: #000;
}

.link-HtmlAcademy svg:hover,
.link-HtmlAcademy svg:focus {
    fill: #756157;
}

.link-HtmlAcademy svg:active {
    fill: rgba(117, 97, 87, 0.3);
}

.contacts-link svg:hover,
.contacts-link svg:focus {
    fill: #68A2CA;
}

.contacts-link svg:active {
    fill: rgba(104, 162, 202, 0.3);
}

.select-control:hover,
.select-control:focus,
.hotels-form-select:hover,
.hotels-form-select:focus {
    border: 2px solid #68A2CA
}

.select-control:active,
.hotels-form-select:active {
    border: 2px solid #3F5E72
}

.select-control:disabled,
.hotels-form-select:disabled {
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3)
}



/* Псевдоэлементы */
.advantages-description::before {
    display: block;
    counter-increment: feature;
    content: " — №" counter(feature) "—";
    margin-top: 30px;
    margin-bottom: 30px;
}

.advantages-list {
    counter-reset: feature
}

.icon {
    fill: #000;
    stroke: none;
}

.decorate {
    position: absolute;
    top: calc(100% - 57px);
}

.navigation-item-current {
    position: relative;
}

.navigation-item-current-dc {
    position: absolute;
    width: 68px;
    top: 48px;
    left: 0px;
}

.navigation-item-current-dc-1 {
    position: absolute;
    width: 92px;
    top: 48px;
    left: 0px;
}

/* Дизайн range кнопки */

.range-slider_input {
    position: absolute;
}

.filter-headline {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
}

.cost {
    width: 288px;
    display: grid;
    gap: 20px;
    border: 0;
    margin: 0;
    padding: 0;
}

.cost__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 23px 0 0;
    font-size: 18px;
    line-height: 1.28;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
}

.cost__label {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    padding-right: 16px;
    border: 2px solid #ffffff;
    padding-top: 11px;
    padding-bottom: 11px;
}

.cost__label:focus-within {
    box-shadow: 0px 0px 0px 3px #81b3d2, inset 0px 0px 0px 3px #81b3d2;
}

.cost__label:not(:focus-within):hover {
    border-color: rgba(255, 255, 255, 0.6);
}

.cost__label:first-child {
    border-radius: 4px 0 0 4px;
    border-right-width: 0;
    margin-right: 2px;
}

.cost__label:first-child:hover {
    border-right-width: 2px;
    margin-right: 0;
}

.cost__label:hover+.cost__label:not(:focus-within) {
    border-left: 0;
    margin-left: 0;
}

.cost__label:last-child {
    position: relative;
    z-index: 1;
    margin-left: -2px;
    border-radius: 0 4px 4px 0;
}

.cost__input {
    all: unset;
    color: #fff;
    order: -1;
    padding: 0 0 0 18px;
    width: 65px;
    outline: none;
}

.range-slider {
    margin: 0;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) var(--first-val), #fff var(--first-val), #fff var(--second-val), rgba(255, 255, 255, 0.3) var(--second-val));
    background-size: 100% 4px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    z-index: 1;
    height: 20px;
}

.range-slider__input {
    cursor: -webkit-grab;
    cursor: grab;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

.range-slider__input::-webkit-slider-runnable-track {
    background: none;
    height: 100%;
    width: 100%;
}

.range-slider__input::-moz-range-track {
    background: none;
    height: 100%;
    width: 100%;
}

.range-slider__input::-webkit-slider-thumb {
    background-color: #fff;
    border: none;
    /* get rid of Firefox thumb border */
    border-radius: 5px;
    pointer-events: auto;
    /* catch clicks */
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
}

.range-slider__input::-webkit-slider-thumb:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-slider__input::-webkit-slider-thumb:active {
    outline: 2px solid #83b3d3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.range-slider__input::-moz-range-thumb {
    background-color: #fff;
    border: none;
    /* get rid of Firefox thumb border */
    border-radius: 5px;
    pointer-events: auto;
    /* catch clicks */
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
}

.range-slider__input::-moz-range-thumb:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-slider__input::-moz-range-thumb:active {
    outline: 2px solid #83b3d3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.range-slider__input:last-of-type {
    position: absolute;
}

.range-slider__input:focus {
    outline: none;
}

.range-slider__input:focus::-webkit-slider-thumb {
    outline: 3px solid #83b3d3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-slider__input:focus::-moz-range-thumb {
    outline: 3px solid #83b3d3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-slider__input:not(:only-of-type) {
    pointer-events: none;
    right: 0;
}

.filter-headline {
    color: #fff
}

.range-slider__input {
    margin:0;
}
/* Оформление радио кнопок */

.control {
    position: relative;
    display: block;
    padding-left: 19px;
}

/* Модальное окно */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.modal {
    position: relative;
    margin: auto;
    padding: 62px 70px 70px 68px;
    background-color: #ffffff;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
}

.modal-auth {
    width: 575px;
}

.modal-close-button {
    position: absolute;
    padding: 20px;
    top: 54px;
    right: 70px;
    width: 53px;
    height: 53px;
    background-color: #f2f2f2;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    background-image: url("/images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline-color:#f2f2f2;
}

.modal-title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 auto;
}

.button-modal {
    background-color: #83B3D3;
    border-radius: 10px;
    width: 575px;
    min-height: 60px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: space-around;
}

.modal-title {
    margin: 0;
    margin-bottom: 63px;
}

.modal-count {
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.modal-arrival-date input {
    margin-left: 42px;
}

.modal-date-of-departue input {
    margin-left: 36px;
}

.modal-element-count {
    display: flex;
}

.number-input {
    width: 133px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
    outline: none;
}

.modal-element input::-webkit-outer-spin-button,
.modal-element input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-button {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #f2f2f2;
    border: none;
    box-sizing: border-box;
    padding: 0px;
    top: 13px;
    left: 0;
    opacity: 0.3;
    border-radius: 4px;
}

.number-button:hover {
    opacity: 1;
}

.number-button:focus {
    outline: 3px solid #83B3D3;
    opacity: 1;
}

.number-button::after {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 13px;
    height: 1px;
    background-color: #000;
    content: "";
}

.number-button-plus::before {
    transform: rotate(90deg);
    position: absolute;
    top: 12px;
    left: 6px;
    width: 13px;
    height: 1px;
    background-color: #000;
    content: "";
}

.modal-element-count .number-button:first-child {
    left: 247px;
}

.modal-element-count .number-button:nth-child(2) {
    left: 175px;
}

.modal-element-count-2 .number-button:first-child {
    left: 531px;
}

.modal-element-count-2 .number-button:nth-child(2) {
    left: 460px
}

.number-input {
    margin-left: 60px
}

.number-input-2 {
    margin-left: 43px;
}

.modal-counter-babys {
    margin-left: 56px;
    position: relative;
}

.modal-counter-babys-circle {
    position: absolute;
    content: "";
    background-color: #83B3D3;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 3px;
    left: 53px;
}

.modal-counter-babys-circle:hover+.modal-counter-babys-description {
    background-color: #333;
    opacity: 1;
    display:inline-flex;
}

.modal-counter-babys-description {
    position: absolute;
    width: 256px;
    height: 143px;
    background: #333333;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 15px 18px 18px 22px;
    text-transform: none;
    top: 55px;
    left: -60px;
    box-sizing: border-box;
    opacity: 0;
    display:none;
}

.modal-counter-babys-decorate {
    position: absolute;
    top: 10px;
    left: 65px;
    z-index: 1;
}

.modal-pyramide {
    position: absolute;
    top: 43px;
    left: 55px;
    width: 24px;
    height: 13px;
    background-color: #333333;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0;
}

.modal-counter-babys-circle:hover~.modal-pyramide {
    opacity: 1;
}

.date {
    width: 420px;
    min-height: 50px;
    background-color: #f2f2f2;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    outline: none;
    padding: 15px 278px 14px 19px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    box-sizing: border-box;
}

.modal-element {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.modal-element-js {
    margin-left: 150px;
    padding-top: 7px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FF5757;
    text-transform: none;
    margin-bottom: 11px;
}

.modal-element-js-current {
    margin-left: 150px;
    padding-top: 7px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000;
    text-transform: none;
    margin-bottom: 11px;
}

.modal-element-decore {
    position: absolute;
    right: 17px;
    top: 18px;
}

.modal-close-button:hover {
    background-color:#e6e6e6;
}

.modal-close-button:focus {
    outline: 3px solid #83B3D3;
    background-color:#E6E6E6;
}

.modal-close-button:active {
    background-color:#e6e6e6;
    outline:#e6e6e6;
    opacity:0.3;
}

.date:hover {
    background-color: #E6E6E6;
}

.date:focus {
    background-color: #e6e6e6;
    outline: 3px solid #83B3D3;
    border-radius:4px;
}

.date:active {
    background: #FFFFFF;
    outline: 2px solid #000000;
    border-radius: 4px;
}

.button-modal:hover {
    background-color:#68A2CA;
}

.button-modal:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}

.button-modal:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #68A2CA;
}

.modal-counter-babys-circle:hover {
    background-color: #68A2CA;
}

.modal-container {
    display: none;
}

/* Оформление текстовых форма */

.subscribe-input::placeholder {
    padding: 20px 491px 19px 22px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #000000;
    opacity: 0.6;
}

.select-control {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.sorting-block-galochka {
    position: absolute;
    left: 860px;
    top: 74px;
}

.hotels-form-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotels-form svg {
    position: absolute;
    right: 91px;
    bottom: 21px;
}

.cost {
    margin-bottom: 32px;
}

/* офомление радио-кнопок */

.control {
    display: block;
}

.control-input {
    display: none;
}

/* Оформелние чекбоксов */
.control-mark-checkbox {
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    left: 0px;
}

.control-input[type="checkbox"]:checked + .control-mark-checkbox::before {
    position: absolute;
    top: 6px;
    left: 4px;
    width: 12px;
    height: 10px;
    background-image: url("../images/check-element.svg");
    content: "";
}

.control:hover .control-mark-checkbox {
    background-color: rgba(255, 255, 255, 0.6);
}

.control:active .control-mark-checkbox {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Оформление радиобоксов */

.control-mark-radio {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    left: 0;
    top: 0;
}

.control-label:focus .control-mark-radio {
    border: 3px solid #83B3D3;
}

.control-input[type="radio"]:checked+.control-mark-radio::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3F5E72;
    content: "";
}

/* Оформление меню с 3-мя видами */

.menu-title-panorama-table input {
    display: none;
}

.menu-title-panorama-table label {
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 17px 16px;
}

.menu-title-panorama-table {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
    margin-left: auto;
}

/* Ховер-эффекты для меню */

.label-menu {
    position: relative;
}

.menu-input:checked + span::after {
    position:absolute;
    content:"";
    width:48px;
    height:55px;
    outline:2px solid #68A2CA;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    top:0;
    left:0;
    border-radius:2px;
}

.menu-input:active + span::after,
.menu-input:hover + span::after{
    position:absolute;
    content:"";
    width:48px;
    height:55px;
    outline: 2px solid #000000;
    top:0;
    left:0;
    border-radius:2px;
}

.button-hover:focus {
    outline:none;
    background-color:#615048;
}

.filter-content-button-submit:focus {
    background-color:#68A2CA;
    outline:none;
}

.filter-content-button-reset:focus {
    outline: 3px solid #83B3D3
}

.filter-content-button-reset:hover {
    opacity:0.6;
}