@font-face {
    font-family:"PT Sans";
    font-style:normal;
    font-weight:400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display:swap;
}
@font-face {
    font-family:"PT Sans";
    font-style:normal;
    font-weight:700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display:swap;
}
body {
    font-family:"PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color:#FFFFFF;
    color: #000000;
}
/* Pages */
.page-header {
    color:#000000;
    background-color: #FFFFFF;
}
.button {
    color: #FFFFFF;
    background-color: #756157;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
}
.navigation-link {
    color:#000000;
    background-color: #FFFFFF;  
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
}